<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.vnnv">
  <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ChoIk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderApp">
        <activity android:name="com.android.vnnv.WaitingShipperPage"></activity>
        <activity android:name="com.android.vnnv.PlaceYourOrderActivity" />
        <activity android:name="com.android.vnnv.MarketMenuActivity" />
        <activity android:name="com.android.vnnv.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.vnnv.LoginPage"/>
        <activity android:name="com.android.vnnv.SignupPage"/>
        <activity android:name="com.android.vnnv.ChooseMarket" />
        <activity android:name="com.android.vnnv.DriverPage" />
        <activity android:name="com.android.vnnv.SignupPage" />
        <activity android:name="com.android.vnnv.WaitingShipperPage" />
    </application>

</manifest>
